
@media screen and (max-width:900px){
    .titulo{
        font-size: 25px;
    }
    .nav-topo, header .button, .descricao, .texto-hover{
        display: none;
        position: relative;
    }
    .section-geral{
        height: 80vh;
    }
    .div-geral{
        
       height: 70vh;
       width: 85%;
    }

    /*Capa*/
   .capa{
    height: 100vh;
   }
    .capa_conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 100vh;
    }
    /*Sobre Mim*/
    .conteudo-sobremim {
        
       display: flex;
       flex-direction: column;
       gap: 0;
    }
    .conteudo-sobremim img{
        margin-top: 30px;
        width: 200px;
        height: 200px;
        

    }
    .text-sobremim{
        width: 300px;
        font-size: 20px;

    }
    .text-sobremim h2{
        
        text-align: center;
    }
    .container{
        
        justify-content: center;
        align-items: center;

    }
    .cards{
        padding-top: 40px;
        justify-content: center;
        align-items: center;
        width: 80%;

    }
    .card{
        width: 100px;
        height: 150px;
    }
    .card img{
        width: 70px;
        height: 70px;
    }
    .conteudo-projetos{
        gap: 10px;
    }
    .projetos{
        flex-direction: column;
        gap: 30px;
    }
    .projetos img{
        width: 300px;
        height: 200px;
    }
    .miniaturas img{
        width: 20px;
        height: 20px;
    }
    .certificados-img{
        display: flex;
        flex-direction: column;
    }
    .certificados-img img{
        width: 300px;
        height: 200px;
    }
    .conteudo-nav{
        gap: 55px;
    }
}
